body {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

form:focus-within .form-search, form .form-search:hover {
    display: block;
}

.form-search {
    padding: 10px;
    display: none;
    border-bottom: 1px solid #ddd;
    position: absolute;
    background: #fff;
    z-index: 100;
    left: 0;
    width: 100%;
}

.form-search .form-group label {
	font-weight: normal;
}

.form-search .form-group {
    margin-bottom: 0.2em;
}

.form-search .form-group > label:first-child {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .form-search .form-group {
        margin-right: 0;
    }
}

@supports (display: flex) {
    @media screen and (min-width: 768px) {
        .form-search {
            justify-content: space-between;
            flex-flow: wrap;
        }
        form:focus-within .form-search, form .form-search:hover {
            display: flex;
        }
        .form-search .form-group {
            width: 25%;
            flex-shrink: 0;
            display: block;
        }
        .form-search .form-group label {
            width: 100%;
        }
    }
}

.required_mark::after {
    content: ' *';
    color: #d9534f;
}

.media-object {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
    display: inline-block;
}

.label {
    line-height: 1.8;
}

@media (min-width: 768px) {
    .asset-item {
        height: 95px;
    }
}
