body {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-search .form-group {
    margin-bottom: 0.2em;
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .form-search .form-group {
        margin-right: 0;
    }
}

@supports (display: flex) {
    @media screen and (min-width: 768px) {
        .form-search {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
        }
        .form-search .form-group {
            margin-right: 1em;
            margin-left: 1em;
            flex-shrink: 0;
            display: block;
        }
    }
}

.required_mark::after {
    content: ' *';
    color: #d9534f;
}

.media-object {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
    display: inline-block;
}

.label {
    line-height: 1.8;
}

@media (min-width: 768px) {
    .asset-item {
        height: 95px;
    }
}
